@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(0, 0, 0);
}

.cta-button-select {
  height: 30px;
  border: 1.5px solid #ec4899;
  width: 120px;
  padding-left: 15px;
  padding-right: 0px;
  border-radius: 8px;
  color: #ec4899;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  background: black;
  font-family: Noto, Helvetica, Arial, sans-serif;
}

.cta-user-wallet {
  height: 30px;
  border: 1.5px solid #ec4899;
  width: 120px;
  padding-left: 15px;
  padding-right: 0px;
  padding-top: 2px;
  border-radius: 20px;
  color: #ec4899;
  font-size: 14px;
  font-weight: normal;
  background: black;
  font-family: Noto, Helvetica, Arial, sans-serif;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
